<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photographerbookingapp"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotographerBookingApp">
        <activity android:name=".UpdateLocationActivity"></activity>
        <activity android:name=".AddLocationActivity" />
        <activity android:name=".PhotographerLocationActivity" />
        <activity android:name=".PortfolioClientActivity" />
        <activity android:name=".UpdatePortfolioPhotographerActivity" />
        <activity android:name=".PortfolioPhotographerActivity" />
        <activity android:name=".addPhotoActivity" />
        <activity android:name=".PhotographerReviewActivity" />
        <activity android:name=".UpdateBookingClientActivity" />
        <activity android:name=".UpdateBookingPhotographerActivity" />
        <activity android:name=".BookingPhotographerActivity" />
        <activity android:name=".AddBookingActivity" />
        <activity android:name=".PhotographerDetailsActivity" />
        <activity android:name=".UpdateProfilePhotographerActivity" />
        <activity android:name=".ProfilePhotographerActivity" />
        <activity android:name=".UpdatePackageActivity" />
        <activity android:name=".AddPackageActivity" />
        <activity android:name=".PhotographerMainActivity" />
        <activity android:name=".LoginPhotographerActivity" />
        <activity android:name=".RegisterPhotographerActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UpdateProfileActivity" />
        <activity android:name=".BookingActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>